---
import type { CollectionEntry } from "astro:content";
import type { IElement } from "@/data/shared";
import { getFormattedDate } from "@/utils";

interface Props extends IElement {
  post: CollectionEntry<"post">;
  withDesc?: boolean;
}

const { post, as: Element = "div", withDesc = false } = Astro.props;
const postDate = getFormattedDate(post.data.publishDate, { month: "long" });
---
<div class="container m-auto grid font-opensans">
	
	<div class="font-opensans">
		{post.data.ogImage && (
			<img width="400" height="400" src={post.data.ogImage} alt={post.data.title} />
		  )}
		  <Element>
			<a href={`/posts/${post.slug}/`} class="text-xl decoration-none no-underline font-opensans font-bold" rel="prefetch">
			  {post.data.title}
			</a>
		  </Element>
	</div>	
  </div>
  